/* RENAME THIS FILE LATER */

div h4 { /* used for main menu options (top line of website) */
    background-color: transparent;
    color: blue;
    font-family: Helvetica;
    text-align: left;
    padding-left: 2.5%;
}

input {
    width: 400;
}

a { /* for links */
    text-decoration: none;
}

h2 { /* general header */
    background-color: transparent;
    color: rgb(250 172 2);
    font-family: Helvetica;
}

p {
    background-color: transparent;
    color: black;
    font-family: Helvetica;
    font-size: 18;
}

form div label { /* labels for forms */
    background-color: transparent;
    color: rgb(250 172 2);
    font-family: Helvetica;
    font-size: 32;
}

form div select { /* dropdown menu format */
    width: 300;
    height: 50;
    font-family: Helvetica;
    font-size: 24;
}

form div input {
    width: 100;
}