h2 {
    background-color: transparent;
    color: rgb(from color 250 172 2);
    padding-left: 5%;
}

h4 { 
    background-color: transparent;
    color: blue;
    text-align: left;
    padding-left: 2.5%;
}