<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page</title>

<style>
    body{
        margin: auto;
    padding: 50px;
    color: #33475b; 
    }

    .center{
    display: flex;
    align-items: center;
    justify-content: center;
    }
</style>


</head>
<body>
    <h1>An Error Has Occured</h1>
    <a href="{% url 'homepage'%}">NAVIGATE BACK TO HOMEPAGE</a>
    <div class="center">
    
        <img src="https://img.freepik.com/free-vector/400-error-bad-request-concept-illustration_114360-1933.jpg?t=st=1714677362~exp=1714680962~hmac=0765f5df2b794ccc814ab5338f360b43b9975f2b2c2d1254e0837dc5a359878b&w=1060" alt="" width="40%" height="30%" >

    </div>

</body>
</html>