{% extends 'homebase.html' %}
{%block content%}

<script>
    $(document).ready(function () {
             $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        
    });
</script>


<div class="wrapper">
    <!-- Sidebar -->
<nav id="sidebar">
    <form action="{% url 'all_events' %}" method="post" class="mx-3">
        {% csrf_token %}
    <div class="sidebar-header">
        
            <h4 class="text-center mt-3">Sort By</h4>
            <div class="d-flex justify-content-center">
                <select name="sort" class="form-select-sm mb-3 rounded-pill" aria-label="">
                    <option value="1" selected>Most Recent</option>
                    <option value="2">Least Recent</option>
                    <!-- <option value="3">Most Relevant by Tag</option> -->
                </select>

            </div>

        <h4 class="text-center mt-3">Filter Options</h4>
    </div>


        <div class="my-3 px-2">
            <div class="row d-flex mb-2">
                <div class="col-md-4">
                    <label class="pe-3" id="DepartmentsList">Dept:</label>
                </div>
                <div class="col-auto d-flex justify-content-end">
                    <input class="form-control-sm rounded-pill" list="dept_list" id="DepartmentsList" placeholder="Type to search..." name="dept">
                    <datalist id="dept_list">
                                {% for dept in departments %}
                                <option value="{{ dept.name }}">
                                    {% endfor %}
                    </datalist>
                </div>
            </div>
        </div>

        <hr>
        <div class="my-3">
            <div class="row d-flex mb-2">
                <div class="col-md-4">
                    <label for="minPrice" class="pe-2">Min Price:</label>
                </div>
                <div class="col-auto d-flex justify-content-end">
                    <input class="form-control-sm" type="number" min="0" max="100" step="any" name="min_price" id="minPrice">
                </div>
            </div>
            <div class="row d-flex mb-2">
                <div class="col-md-4">
                    <label for="maxPrice" class="pe-2">Max Price:</label>
                </div>
                <div class="col-auto d-flex justify-content-end">
                    <input class="form-control-sm" min="0" max="200" step="any" type="number" name="max_price" id="maxPrice">
                </div>
            </div>
        </div>

        <hr>
        <div class="my-3 mx-auto">
            <div class="row d-flex mb-2">
                <div class="col-md-4">
                    <label for="earliest">Start Date:</label>
                </div>
                <div class="col-auto d-flex justify-content-end">
                    <input class="d-md-inline form-control-sm" type="datetime-local" name="start_date" id="earliest">
                </div>
            </div>
        </div>
        <div class="my-3">
            <div class="row d-flex mb-2">
                <div class="col-md-4">
                    <label for="latest">End Date:</label>
                </div>
                <div class="col-auto d-flex justify-content-end">
                    <input class="d-md-inline form-control-sm" type="datetime-local" name="end_date" id="latest">
                </div>
            </div>
        </div>

        <!-- Adding tags to filter -->

        <hr>
        <div class="row justify-content-center">
            <!-- {% for tag in tags %}
            <div class="col mt-2">
                <label class="label-for-check-events-all" for="tag_{{ tag.name }}">
                    <input type="checkbox" class="form-check-input-events-all" name="selected_tags" id="tag_{{ tag.name }}"
                        style="display: none;" value="{{ tag.name }}">
                    {{ tag.name }}</label>
            </div>
            {% endfor %}     -->
            <select style="height: 150px; width: 70%;" name="selectedTags" id="" multiple>
                {% for tag in tags %}
                <option value="{{tag.name}}"> {{ tag.name }} </option>
                {% endfor %}
            </select>
        </div>
            <!-- <input type="hidden" id="selectedTagsInput" name="selectedTags" value=""> -->


        <button type="submit" class="btn btn-outline-warning rounded-pill my-3">Apply</button>
    </form>
    <ul class="list-unstyled">
        <li class="active">

        </li>
    </ul>
</nav>



<div id="content">
        <div class="container-fluid">
                <a class="text-primary" id="sidebarCollapse">Filter</a>

            <div class="d-flex flex-wrap gap-2 my-3">
                <a href="{% url 'all_events' %}" class="btn btn-outline-primary">All</a>
                {% for tag in tags %}
                <a href="{% url 'all_events' %}?tag={{tag.name}}" class="btn btn-outline-primary">{{tag.name}}</a>
                {% endfor %}
            </div>


                {% if search|length > 0 %}
                <div class="row mx-auto">
                    <h4 class="text-center" style="text-decoration: underline;">Search Results</h4>

                {% for event in search %}
                
                <div class="col-md-auto col-sm-auto my-auto mt-4">
                
                    <div class="card position-relative align-items-stretch shadow" style="border-radius: 10%;">
                        <div class="card-body">
                            <h6 class="card-title"><a href="{% url 'club' cid=event.organization_id %}"
                                    style="text-decoration: none;">{{event.club_name}}</a></h6>
                            <h4 class="card-subtitle mb-2 text-muted" style="font-size: large;">{{event.event_name}}</h4>
                            <div class="col d-flex">
                                <i class="bi bi-person mx-2"></i>
                                <p class="">{{event.mode_of_operation}}</p>
                            </div>
                            <div class="col d-flex">
                                <i class="bi bi-clock mx-1"></i>
                                <p class="" style="font-size: small;">{{event.time}}</p>
                            </div>
                            <div class="row gap-2">
                                {% for tag2 in event.tag_list %}
                                <div class="col-md-3">
                                    <h5><span class="badge rounded-pill bg-success shadow">{{tag2.tag_id}}</span></h5>
                                </div>
                                {% endfor %}
                            </div>
                            <hr>
                            <a href="{% url 'event' event_id=event.event_id %}" class="stretched-link"
                                style="text-decoration: none;">{{event.attendees}} people registered</a>
                        </div>
                
                    </div>
                
                
                </div>
                
                {% endfor %}


                </div>
                <hr>
                {% endif %}
                
                <div class="row mx-auto mb-5">


                    
                    <!-- col/card begins -->


                    {% for event in events %}
                        <div class="col-md-auto col-sm-auto my-auto mt-4">

                            <div class="card position-relative align-items-stretch shadow" style="width: 15rem; border-radius: 10%;">
                                <div class="card-body">
                                    <h6 class="card-title"><a href="{% url 'club' cid=event.organization_id %}" style="text-decoration: none;">{{event.club_name}}</a></h6>
                                    <h4 class="card-subtitle mb-2 text-muted" style="font-size: large;">{{event.event_name}}</h4>
                                    <div class="col d-flex">
                                        <i class="bi bi-person mx-2"></i>
                                        <p class="">{{event.mode_of_operation}}</p>
                                    </div>
                                    <div class="col d-flex">
                                        <i class="bi bi-clock mx-1"></i>
                                        <p class="" style="font-size: small;">{{event.time}}</p>
                                    </div>
                                        <!-- <div class="row gap-2">
                                            {% for tag2 in event.tag_list %}
                                                <div class="col-md-6 ">
                                                    <h5><span class="badge rounded-pill bg-success shadow">{{tag2}}</span></h5>
                                                </div>
                                            {% endfor %}
                                        </div> -->
                                    <hr>
                                    <a href="{% url 'event' event_id=event.event_id %}" class="stretched-link" style="text-decoration: none;">{{event.attendees}} people registered</a>
                                </div>
                
                            </div>


                        </div>
                        {% endfor %}


                </div>
        </div>


</div>
</div>

{%endblock%}