{% extends 'homebase.html' %}
{% block content %}
{% load static %}
<style>

.bg-img {
    background-image: url('https://bpb-us-w2.wpmucdn.com/blogs.sjsu.edu/dist/f/94/files/2022/08/strategic-plan-jduarte-031319-21_IMG_WEB.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    width: 100%;
    opacity: 0.9;
    border-radius: 2%;
}



.slide-right {
    width: 100%;
    overflow: hidden;
    margin-left: 50px;
    padding-top: 15%;
    max-width: 900px
}



.textCenter{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 900px;
    background-color: rgba(253, 253, 253, 0.727); /* Grey background with 50% opacity */
    border-radius: 10px;

}


.wrapper { 
    /* max-width: 1700px;  */
    width: 100%; 
    position: relative; 
  
} 
  
.wrapper i { 
    height: 50px; 
    width: 50px; 
    background: rgb(172, 225, 236); 
    text-align: center; 
    line-height: 50px; 
    border-radius: 50%; 
    cursor: pointer; 
    position: absolute; 
    top: 50%; 
    font-size: 1.25 rem; 
    transform: translateY(-50%); 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23); 
    z-index: 100;
  
} 
  
.wrapper i:first-child { 
    left: 2px; 
  
} 
  
.wrapper i:last-child { 
    right: 2px; 
} 
  
.wrapper .carousela { 
    display: grid; 
    grid-auto-flow: column; 
    width: 100%;
    grid-auto-columns: calc((100% / 4.3) - 2px); 
    gap: 2px; 
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth; 
    scrollbar-width: 0; 
} 
  
.carousela::-webkit-scrollbar { 
    display: none; 
} 
  
.carousela :where(.card, .img) { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
} 
  
.carousela.dragging { 
    scroll-snap-type: none; 
    scroll-behavior: auto; 
} 
  
.carousela.no-transition { 
    scroll-behavior: auto; 
} 
  
.carousela.dragging .card { 
    cursor: grab; 
    user-select: none; 
} 
  
/* .carousela .card { 
    scroll-snap-align: start; 
 
    list-style: none; 
    background: #fff; 
    border-radius: 8px; 
    display: flex; 
    cursor: pointer; 
    width: 98%; 
    padding-bottom: 15px; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
}  */
  
.card .img { 
    background: green; 
    width: 145px; 
    height: 145px; 
    border-radius: 50%; 
  
} 
  
.card .img img { 
    width: 140px; 
    height: 140px; 
    object-fit: cover; 
    border-radius: 50%; 
    border: 4px solid #fff; 
} 
  
.card h2 { 
    font-weight: 500; 
    font-size: 1.56rem; 
    margin: 30px 0 5px; 
} 
  
.card span { 
    color: #6a6d78; 
    font-size: 1.31rem; 
  
} 
  
@media screen and (max-width: 900px) { 
    .wrapper .carousela { 
        grid-auto-columns: calc((100% / 2) - 9px); 
  
    } 
} 
  
@media screen and (max-width: 600px) { 
    .wrapper .carousela { 
        grid-auto-columns: 100%; 
  
    } 
}

/* .carousel-item img {
    width: 33.33%; /* Set each image to occupy one-third of the carousel width */
    /* float: left; Float the images to make them appear in a row */
/* } */

/* .carousel-inner {
    width: 300%; 
}

.carousel-item {
    display: flex; 
}  */



</style>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const carousel = document.querySelector(".carousela");
        const arrowBtns = document.querySelectorAll(".wrapper i");
        const wrapper = document.querySelector(".wrapper");

        const firstCard = carousel.querySelector(".card");
        const firstCardWidth = firstCard.offsetWidth;

        let isDragging = false,
            startX,
            startScrollLeft,
            timeoutId;

        const dragStart = (e) => {
            isDragging = true;
            carousel.classList.add("dragging");
            startX = e.pageX;
            startScrollLeft = carousel.scrollLeft;
        };

        const dragging = (e) => {
            if (!isDragging) return;

            // Calculate the new scroll position 
            const newScrollLeft = startScrollLeft - (e.pageX - startX);

            // Check if the new scroll position exceeds  
            // the carousel boundaries 
            if (newScrollLeft <= 0 || newScrollLeft >=
                carousel.scrollWidth - carousel.offsetWidth) {

                // If so, prevent further dragging 
                isDragging = false;
                return;
            }

            // Otherwise, update the scroll position of the carousel 
            carousel.scrollLeft = newScrollLeft;
        };

        const dragStop = () => {
            isDragging = false;
            carousel.classList.remove("dragging");
        };

        const autoPlay = () => {

            // Return if window is smaller than 800 
            if (window.innerWidth < 800) return;

            // Calculate the total width of all cards 
            const totalCardWidth = carousel.scrollWidth;

            // Calculate the maximum scroll position 
            const maxScrollLeft = totalCardWidth - carousel.offsetWidth;

            // If the carousel is at the end, stop autoplay 
            if (carousel.scrollLeft >= maxScrollLeft) return;

            // Autoplay the carousel after every 2500ms 
            timeoutId = setTimeout(() =>
                carousel.scrollLeft += firstCardWidth, 2500);
        };

        carousel.addEventListener("mousedown", dragStart);
        carousel.addEventListener("mousemove", dragging);
        document.addEventListener("mouseup", dragStop);
        wrapper.addEventListener("mouseenter", () =>
            clearTimeout(timeoutId));
        wrapper.addEventListener("mouseleave", autoPlay);

        // Add event listeners for the arrow buttons to  
        // scroll the carousel left and right 
        arrowBtns.forEach(btn => {
            btn.addEventListener("click", () => {
                carousel.scrollLeft += btn.id === "left" ?
                    -firstCardWidth : firstCardWidth;
            });
        });
    }); 

</script>

    

<div class="bg-img shadow">
    <div class="textCenter text-center">
        <h1 class="" style="font-size: 7rem; color: black; opacity: 2; font-weight: 700;">Never Miss a Beat!</h1>
    </div>
</div>




<div class="container-fluid" style="background-color:rgb(243, 243, 243)">

<!-- <div class="w-75 justify-content-center"> -->

    
    <h3 class=" text-md-15 mt-4" style="font-weight: 700;">Recommended based on your tags</h3>
        <div class="owl-carousel">
        {% for event in tag_events %}
<div class="col-md-auto col-sm-auto my-auto mt-4">
    <div class="card align-items-stretch shadow" style="width: 18rem; border-radius: 5%;">
        <!-- Set fixed height for the card -->
        <div style="height: 250px;">
            <!-- Ensure the image fills the entire card -->
            <img src="{{ event.event_image }}" class="card-img-top" style="object-fit: cover; height: 100%;" alt="">
        </div>
        <div class="card-body">
            <a href="{% url 'event' event_id=event.event_id %}" style="text-decoration: none;">
                <!-- Limit the number of lines for the title to maintain consistent card height -->
                <h4 class="card-subtitle mb-2 text-muted"
                    style="font-size: large; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                    {{event.event_name}}</h4>
            </a>
            <a href="{% url 'club' cid=event.organization_id %}" style="text-decoration: none;">
                <!-- Limit the number of lines for the club name to maintain consistent card height -->
                <h6 class="card-title" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                    {{event.club_name}}</h6>
            </a>
        </div>
    </div>
</div>
        {% endfor %}
        </div>


    {% if department_events %}
    <h3 class="text-md-15 my-4" style="font-weight: 700;">Recommended based on your department</h3>
    <br>
        <div class="owl-carousel ">
        {% for event in department_events %}
        <div class="col-md-auto col-sm-auto my-auto mt-4">
        
            <div class="card align-items-stretch shadow" style="width: 18rem; border-radius: 5%;">
                        <div style="height: 250px;">
                <img src="{{ event.event_image }}" class="card-img-top" style="object-fit: cover; height: 100%;" alt="">
                </div>
                <div class="card-body">
                    <a href="{% url 'event' event_id=event.event_id %}" style="text-decoration: none;">
                        <h4 class="card-subtitle mb-2 text-muted" style="font-size: large; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{event.event_name}}</h4>
                    </a>
                    <a href="{% url 'club' cid=event.organization_id %}"
                            style="text-decoration: none;"><h6 class="card-title" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{event.club_name}}</h6></a>
            </div>
            </div>
        </div>
        {% endfor %}
        </div>
        {% endif %}
 
        {% if similar_current|length > 0 %}
        <h3 class="text-md-15 my-4" style="font-weight: 700;">Based on your Previous Events</h3>
        <div class="row justify-content-center my-4">
        {% for event in similar_current %}
        <div class="col-md-4 col-sm-auto my-auto mt-4">
        
            <div class="card align-items-stretch shadow" style="width: 18rem; border-radius: 3%;">
                <img src="{{ event.event_image }}" class="card-img-top card-img-sm" alt="">
                <div class="card-body">
                    <h6 class="card-title"><a href="{% url 'club' cid=event.organization_id %}"
                            style="text-decoration: none;">{{event.club_name}}</a></h6>
                    <a href="{% url 'event' event_id=event.event_id %}" style="text-decoration: none;">
                        <h4 class="card-subtitle mb-2 text-muted" style="font-size: large;">{{event.event_name}}</h4>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
        {% endif %}




    <!-- Club of the Day -->
<br>
<br>

    <div class="row justify-content-center">
        <h3 class="text-bold" style="font-weight: 600;"> Clubs you may like based on your department </h3>
        {% for club in recommended_orgs %}
            <div class="col-md-auto col-sm-auto my-auto mt-4">
            
                <div class="card align-items-stretch shadow" style="width: 18rem; border-radius: 3%; border-radius: 10px;">
                    {% if club.club_logo != "null" %}
                    <!-- <p>{{card.club_logo}}</p> -->
                    <img src="{{ club.club_logo }}" class="card-img-top card-img-sm" alt="">
                    {% else %}
                    <img src="https://www.sjsu.edu/_images/news/news_prez-seal-communications_010621.jpg"  class="card-img-top card-img-sm" alt="">
                    {% endif %}

                    <div class="card-body">
                        <h6 class="card-title"><a href="{% url 'club' cid=club.id %}"
                                style="text-decoration: none;">{{club.name}}</a></h6> 
                        </a>
                    </div>
                </div>
            </div>


        {% endfor %}

    </div>

<img class="my-5" src="https://spotme.com/wp-content/uploads/2020/07/Hero-1.jpg" alt="" width="100%" style="max-height: 450px;">

    {% if past_events|length > 0 %}
        <h3 class="text-md-15 my-4" style="font-weight: 700;">Your Past Events</h3>
        <div class="row my-4">
            {% for event in similar_current %}
            <div class="col-md-auto col-sm-auto my-auto mt-4">
        
                <div class="card align-items-stretch shadow" style="width: 18rem; border-radius: 3%;">
                    <img src="{{ event.event_image }}" class="card-img-top card-img-sm" alt="">
                    <div class="card-body">
                        <h6 class="card-title"><a href="{% url 'club' cid=event.organization_id %}"
                                style="text-decoration: none;">{{event.club_name}}</a></h6>
                        <a href="{% url 'event' event_id=event.event_id %}" style="text-decoration: none;">
                            <h4 class="card-subtitle mb-2 text-muted" style="font-size: large;">{{event.event_name}}</h4>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}




</div>


{% endblock %}

