{% extends 'homebase.html' %}
{% block content %}

<!-- CAROUSELS FOR HOMEPAGE -->
<!-- need to test on different screen sizes -->
<div class="container-fluid" style="background-color:beige">
    <div id="carousels">
        <br>

        <!-- EVENT RECOMMENDATIONS -->
        <h3 class="h3" style="color: darkgoldenrod;">
            Upcoming Events You May Be Interested In
        </h3>
        <div id="eventRecs" class="carousel">
            <div class="carousel-inner">

                <!-- event rec 1 -->
                <div class="carousel-item active">
                    <div class="card position-relative shadow"
                        style="height: fit-content; border-radius: 10%;">
                        <div class="card-body">
                            <h6 class="card-title">Competitive Programming</h6>
                            <h4 class="card-subtitle mb-2 text-muted">ICPC Intro Session</h4>
                            <div class="col d-flex align-items-center">
                                <i class="bi bi-person me-2 mx-2"></i>
                                <p class="">In-Person</p>
                            </div>
                            <div class="col d-flex align-items-center">
                                <i class="bi bi-clock me-1 mx-1"></i>
                                <p class="" style="font-size: medium;">Tue 10:00 am - 11:45am</p>
                            </div>
                            <!-- tags -->
                            <div class="row">
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Machine Learning</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Programming</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">AI</span></h5>
                                </div>
                            </div>
                            <!-- end tags -->
                            <hr>
                            <a href="#" class="stretched-link" style="text-decoration: none;">12 students registered</a>
                        </div>
                    </div>
                </div>
                <!-- event rec 1 -->

                <!-- event rec 2 -->
                <div class="carousel-item">
                    <div class="card position-relative shadow"
                        style="height: fit-content; border-radius: 10%;">
                        <div class="card-body">
                            <h6 class="card-title">Competitive Programming</h6>
                            <h4 class="card-subtitle mb-2 text-muted">ICPC Intro Session</h4>
                            <div class="col d-flex">
                                <i class="bi bi-person mx-2"></i>
                                <p class="">In-Person</p>
                            </div>
                            <div class="col d-flex">
                                <i class="bi bi-clock mx-1"></i>
                                <p class="" style="font-size: medium;">Tue 10:00 am - 11:45am</p>
                            </div>
                            <!-- tags -->
                            <div class="row">
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Machine Learning</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Programming</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">AI</span></h5>
                                </div>
                            </div>
                            <!-- end tags -->
                            <hr>
                            <a href="#" class="stretched-link" style="text-decoration: none;">12 students registered</a>
                        </div>
                    </div>
                </div>
                <!-- event rec 2 -->

                <!-- event rec 3 -->
                <div class="carousel-item">
                    <div class="card position-relative shadow"
                        style="height: fit-content; border-radius: 10%;">
                        <div class="card-body">
                            <h6 class="card-title">Competitive Programming</h6>
                            <h4 class="card-subtitle mb-2 text-muted">ICPC Intro Session</h4>
                            <div class="col d-flex">
                                <i class="bi bi-person mx-2"></i>
                                <p class="">In-Person</p>
                            </div>
                            <div class="col d-flex">
                                <i class="bi bi-clock mx-1"></i>
                                <p class="" style="font-size: medium;">Tue 10:00 am - 11:45am</p>
                            </div>
                            <!-- tags -->
                            <div class="row">
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Machine Learning</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Programming</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">AI</span></h5>
                                </div>
                            </div>
                            <!-- end tags -->
                            <hr>
                            <a href="#" class="stretched-link" style="text-decoration: none;">12 students registered</a>
                        </div>
                    </div>
                </div>
                <!-- event rec 3 -->

                <!-- event rec 4 -->
                <div class="carousel-item">
                    <div class="card position-relative shadow"
                        style="height: fit-content; border-radius: 10%;">
                        <div class="card-body">
                            <h6 class="card-title">Competitive Programming</h6>
                            <h4 class="card-subtitle mb-2 text-muted">ICPC Intro Session</h4>
                            <div class="col d-flex">
                                <i class="bi bi-person mx-2"></i>
                                <p class="">In-Person</p>
                            </div>
                            <div class="col d-flex">
                                <i class="bi bi-clock mx-1"></i>
                                <p class="" style="font-size: medium;">Tue 10:00 am - 11:45am</p>
                            </div>
                            <!-- tags -->
                            <div class="row">
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Machine Learning</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Programming</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">AI</span></h5>
                                </div>
                            </div>
                            <!-- end tags -->
                            <hr>
                            <a href="#" class="stretched-link" style="text-decoration: none;">12 students registered</a>
                        </div>
                    </div>
                </div>
                <!-- event rec 4 -->

                <!-- event rec 5 -->
                <div class="carousel-item">
                    <div class="card position-relative shadow"
                        style="height: fit-content; border-radius: 10%;">
                        <div class="card-body">
                            <h6 class="card-title">Competitive Programming</h6>
                            <h4 class="card-subtitle mb-2 text-muted">ICPC Intro Session</h4>
                            <div class="col d-flex">
                                <i class="bi bi-person mx-2"></i>
                                <p class="">In-Person</p>
                            </div>
                            <div class="col d-flex">
                                <i class="bi bi-clock mx-1"></i>
                                <p class="" style="font-size: medium;">Tue 10:00 am - 11:45am</p>
                            </div>
                            <!-- tags -->
                            <div class="row">
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Machine Learning</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Programming</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">AI</span></h5>
                                </div>
                            </div>
                            <!-- end tags -->
                            <hr>
                            <a href="#" class="stretched-link" style="text-decoration: none;">12 students registered</a>
                        </div>
                    </div>
                </div>
                <!-- event rec 5 -->

                <!-- dynamically add event recommendations -->

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#eventRecs" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#eventRecs" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <br><br>
        <!-- CLUB RECOMMENDATIONS -->
        <h3 class="h3" style="color: darkgoldenrod;">
            Clubs We Found Just For You
        </h3>
        <div id="clubRecs" class="carousel">
            <div class="carousel-inner">

                <!-- club rec 1 -->
                <div class="carousel-item active">
                    <div class="card position-relative shadow"
                        style="height: fit-content; border-radius: 10%;">
                        <div class="card-body">
                            <h4 class="card-title mb-2">Barbie Stans</h4>
                            <div class="col d-flex">
                                <i class="bi bi-person mx-2"></i> <!-- replace w/ location symbol -->
                                <p class="">SCI 101</p>
                            </div>
                            <div class="col d-flex">
                                <p class="" style="font-size: small;">
                                    We are the true Barbie fans. Learn, live, and love Barbie with us.
                                </p>
                            </div>
                            <!-- tags -->
                            <div class="row">
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Philosophy</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Literature</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Film</span></h5>
                                </div>
                            </div>
                            <!-- end tags -->
                            <hr>
                            <a href="#" class="stretched-link" style="text-decoration: none;">95 members</a>
                        </div>
                    </div>
                </div>
                <!-- club rec 1 -->

                <!-- club rec 2 -->
                <div class="carousel-item active">
                    <div class="card position-relative shadow"
                        style="height: fit-content; border-radius: 10%;">
                        <div class="card-body">
                            <h4 class="card-title mb-2">Barbie Stans</h4>
                            <div class="col d-flex">
                                <i class="bi bi-person mx-2"></i> <!-- replace w/ location symbol -->
                                <p class="">SCI 101</p>
                            </div>
                            <div class="col d-flex">
                                <p class="" style="font-size: small;">
                                    We are the true Barbie fans. Learn, live, and love Barbie with us.
                                </p>
                            </div>
                            <!-- tags -->
                            <div class="row">
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Philosophy</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Literature</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Film</span></h5>
                                </div>
                            </div>
                            <!-- end tags -->
                            <hr>
                            <a href="#" class="stretched-link" style="text-decoration: none;">95 members</a>
                        </div>
                    </div>
                </div>
                <!-- club rec 2 -->

                <!-- club rec 3 -->
                <div class="carousel-item active">
                    <div class="card position-relative shadow"
                        style="height: fit-content; border-radius: 10%;">
                        <div class="card-body">
                            <h4 class="card-title mb-2">Barbie Stans</h4>
                            <div class="col d-flex">
                                <i class="bi bi-person mx-2"></i> <!-- replace w/ location symbol -->
                                <p class="">SCI 101</p>
                            </div>
                            <div class="col d-flex">
                                <p class="" style="font-size: small;">
                                    We are the true Barbie fans. Learn, live, and love Barbie with us.
                                </p>
                            </div>
                            <!-- tags -->
                            <div class="row">
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Philosophy</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Literature</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Film</span></h5>
                                </div>
                            </div>
                            <!-- end tags -->
                            <hr>
                            <a href="#" class="stretched-link" style="text-decoration: none;">95 members</a>
                        </div>
                    </div>
                </div>
                <!-- club rec 3 -->

                <!-- club rec 4 -->
                <div class="carousel-item active">
                    <div class="card position-relative shadow"
                        style="height: fit-content; border-radius: 10%;">
                        <div class="card-body">
                            <h4 class="card-title mb-2">Barbie Stans</h4>
                            <div class="col d-flex">
                                <i class="bi bi-person mx-2"></i> <!-- replace w/ location symbol -->
                                <p class="">SCI 101</p>
                            </div>
                            <div class="col d-flex">
                                <p class="" style="font-size: small;">
                                    We are the true Barbie fans. Learn, live, and love Barbie with us.
                                </p>
                            </div>
                            <!-- tags -->
                            <div class="row">
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Philosophy</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Literature</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Film</span></h5>
                                </div>
                            </div>
                            <!-- end tags -->
                            <hr>
                            <a href="#" class="stretched-link" style="text-decoration: none;">95 members</a>
                        </div>
                    </div>
                </div>
                <!-- club rec 4 -->

                <!-- club rec 5 -->
                <div class="carousel-item active">
                    <div class="card position-relative shadow"
                        style="height: fit-content; border-radius: 10%;">
                        <div class="card-body">
                            <h4 class="card-title mb-2">Barbie Stans</h4>
                            <div class="col d-flex">
                                <i class="bi bi-person mx-2"></i> <!-- replace w/ location symbol -->
                                <p class="">SCI 101</p>
                            </div>
                            <div class="col d-flex">
                                <p class="" style="font-size: small;">
                                    We are the true Barbie fans. Learn, live, and love Barbie with us.
                                </p>
                            </div>
                            <!-- tags -->
                            <div class="row">
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Philosophy</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Literature</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Film</span></h5>
                                </div>
                            </div>
                            <!-- end tags -->
                            <hr>
                            <a href="#" class="stretched-link" style="text-decoration: none;">95 members</a>
                        </div>
                    </div>
                </div>
                <!-- club rec 5 -->

                <!-- dynamically add club recommendations -->

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#clubRecs" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#clubRecs" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <br><br>
        <!-- DEPARTMENT/MAJOR EVENTS -->
        <h3 class="h3" style="color: darkgoldenrod;">
            Department/Major Events Related to You
        </h3>
        <div id="deptRecs" class="carousel">
            <div class="carousel-inner">

                <!-- event rec 1 -->
                <div class="carousel-item active">
                    <div class="card position-relative shadow"
                        style="height: fit-content; border-radius: 10%;">
                        <div class="card-body">
                            <h6 class="card-title">Competitive Programming</h6>
                            <h4 class="card-subtitle mb-2 text-muted">ICPC Intro Session</h4>
                            <div class="col d-flex">
                                <i class="bi bi-person mx-2"></i>
                                <p class="">In-Person</p>
                            </div>
                            <div class="col d-flex">
                                <i class="bi bi-clock mx-1"></i>
                                <p class="" style="font-size: medium;">Tue 10:00 am - 11:45am</p>
                            </div>
                            <!-- tags -->
                            <div class="row">
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Machine Learning</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Programming</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">AI</span></h5>
                                </div>
                            </div>
                            <!-- end tags -->
                            <hr>
                            <a href="#" class="stretched-link" style="text-decoration: none;">12 students registered</a>
                        </div>
                    </div>
                </div>
                <!-- event rec 1 -->

                <!-- event rec 2 -->
                <div class="carousel-item">
                    <div class="card position-relative shadow"
                        style="height: fit-content; border-radius: 10%;">
                        <div class="card-body">
                            <h6 class="card-title">Competitive Programming</h6>
                            <h4 class="card-subtitle mb-2 text-muted">ICPC Intro Session</h4>
                            <div class="col d-flex">
                                <i class="bi bi-person mx-2"></i>
                                <p class="">In-Person</p>
                            </div>
                            <div class="col d-flex">
                                <i class="bi bi-clock mx-1"></i>
                                <p class="" style="font-size: medium;">Tue 10:00 am - 11:45am</p>
                            </div>
                            <!-- tags -->
                            <div class="row">
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Machine Learning</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Programming</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">AI</span></h5>
                                </div>
                            </div>
                            <!-- end tags -->
                            <hr>
                            <a href="#" class="stretched-link" style="text-decoration: none;">12 students registered</a>
                        </div>
                    </div>
                </div>
                <!-- event rec 2 -->

                <!-- event rec 3 -->
                <div class="carousel-item">
                    <div class="card position-relative shadow"
                        style="height: fit-content; border-radius: 10%;">
                        <div class="card-body">
                            <h6 class="card-title">Competitive Programming</h6>
                            <h4 class="card-subtitle mb-2 text-muted">ICPC Intro Session</h4>
                            <div class="col d-flex">
                                <i class="bi bi-person mx-2"></i>
                                <p class="">In-Person</p>
                            </div>
                            <div class="col d-flex">
                                <i class="bi bi-clock mx-1"></i>
                                <p class="" style="font-size: medium;">Tue 10:00 am - 11:45am</p>
                            </div>
                            <!-- tags -->
                            <div class="row">
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Machine Learning</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Programming</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">AI</span></h5>
                                </div>
                            </div>
                            <!-- end tags -->
                            <hr>
                            <a href="#" class="stretched-link" style="text-decoration: none;">12 students registered</a>
                        </div>
                    </div>
                </div>
                <!-- event rec 3 -->

                <!-- event rec 4 -->
                <div class="carousel-item">
                    <div class="card position-relative shadow"
                        style="height: fit-content; border-radius: 10%;">
                        <div class="card-body">
                            <h6 class="card-title">Competitive Programming</h6>
                            <h4 class="card-subtitle mb-2 text-muted">ICPC Intro Session</h4>
                            <div class="col d-flex">
                                <i class="bi bi-person mx-2"></i>
                                <p class="">In-Person</p>
                            </div>
                            <div class="col d-flex">
                                <i class="bi bi-clock mx-1"></i>
                                <p class="" style="font-size: medium;">Tue 10:00 am - 11:45am</p>
                            </div>
                            <!-- tags -->
                            <div class="row">
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Machine Learning</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Programming</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">AI</span></h5>
                                </div>
                            </div>
                            <!-- end tags -->
                            <hr>
                            <a href="#" class="stretched-link" style="text-decoration: none;">12 students registered</a>
                        </div>
                    </div>
                </div>
                <!-- event rec 4 -->

                <!-- event rec 5 -->
                <div class="carousel-item">
                    <div class="card position-relative shadow"
                        style="height: fit-content; border-radius: 10%;">
                        <div class="card-body">
                            <h6 class="card-title">Competitive Programming</h6>
                            <h4 class="card-subtitle mb-2 text-muted">ICPC Intro Session</h4>
                            <div class="col d-flex">
                                <i class="bi bi-person mx-2"></i>
                                <p class="">In-Person</p>
                            </div>
                            <div class="col d-flex">
                                <i class="bi bi-clock mx-1"></i>
                                <p class="" style="font-size: medium;">Tue 10:00 am - 11:45am</p>
                            </div>
                            <!-- tags -->
                            <div class="row">
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Machine Learning</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">Programming</span></h5>
                                </div>
                                <div class="col">
                                    <h5><span class="badge rounded-pill bg-success shadow">AI</span></h5>
                                </div>
                            </div>
                            <!-- end tags -->
                            <hr>
                            <a href="#" class="stretched-link" style="text-decoration: none;">12 students registered</a>
                        </div>
                    </div>
                </div>
                <!-- event rec 5 -->

                <!-- dynamically add event recommendations -->

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#deptRecs" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#deptRecs" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
    <br>
</div>


{% endblock %}