{% extends 'header_footer.html' %}
{% block content %}

<!-- CAROUSELS FOR HOMEPAGE -->
<div class="container-fluid">
    <div id="carousels">
        <br>
        
        <!-- EVENT RECOMMENDATIONS -->
        <h3 class="h3" style="color: darkgoldenrod;">Event Recommendations</h3>
        <div id="eventRecs" class="carousel">
            <div class="carousel-inner">

                <!-- event rec 1 -->
                <div class="carousel-item active"> 
                    <div class="card position-relative shadow" style="width: 18rem; height: fit-content; border-radius: 10%;">
                        <div class="card-body">
                            <h6 class="card-title">Competitive Programming</h6>
                            <h4 class="card-subtitle mb-2 text-muted">ICPC Intro Session</h4>
                            <div class="col d-flex">
                                <i class="bi bi-person mx-2"></i>
                                <p class="">In-Person</p>
                            </div>
                            <div class="col d-flex">
                                <i class="bi bi-clock mx-1"></i>
                                <p class="" style="font-size: medium;">Tue 10:00 am - 11:45am</p>
                            </div>
                                <div class="row">
                                    <div class="col">
                                        <h5><span class="badge rounded-pill bg-success shadow">Machine Learning</span></h5>
                                    </div>
                                    <div class="col">
                                        <h5><span class="badge rounded-pill bg-success shadow">Programming</span></h5>
                                    </div>
                                    <div class="col">
                                        <h5><span class="badge rounded-pill bg-success shadow">AI</span></h5>
                                    </div>
                                </div>
                            <hr>
                            <a href="#" class="stretched-link" style="text-decoration: none;">12 students registered</a>
                        </div>
                    </div>
                </div>
                <!-- event rec 1 -->

                <!-- event rec 2 -->
                <div class="carousel-item">
                    <div class="card position-relative shadow" style="width: 18rem; height: fit-content; border-radius: 10%;">
                        <div class="card-body">
                            <h6 class="card-title">Competitive Programming</h6>
                            <h4 class="card-subtitle mb-2 text-muted">ICPC Intro Session</h4>
                            <div class="col d-flex">
                                <i class="bi bi-person mx-2"></i>
                                <p class="">In-Person</p>
                            </div>
                            <div class="col d-flex">
                                <i class="bi bi-clock mx-1"></i>
                                <p class="" style="font-size: medium;">Tue 10:00 am - 11:45am</p>
                            </div>
                                <div class="row">
                                    <div class="col">
                                        <h5><span class="badge rounded-pill bg-success shadow">Machine Learning</span></h5>
                                    </div>
                                    <div class="col">
                                        <h5><span class="badge rounded-pill bg-success shadow">Programming</span></h5>
                                    </div>
                                    <div class="col">
                                        <h5><span class="badge rounded-pill bg-success shadow">AI</span></h5>
                                    </div>
                                </div>
                            <hr>
                            <a href="#" class="stretched-link" style="text-decoration: none;">12 students registered</a>
                        </div>
                    </div>
                </div>
                <!-- event rec 2 -->

                <!-- event rec 3 -->
                <div class="carousel-item">
                    <div class="card position-relative shadow" style="width: 18rem; height: fit-content; border-radius: 10%;">
                        <div class="card-body">
                            <h6 class="card-title">Competitive Programming</h6>
                            <h4 class="card-subtitle mb-2 text-muted">ICPC Intro Session</h4>
                            <div class="col d-flex">
                                <i class="bi bi-person mx-2"></i>
                                <p class="">In-Person</p>
                            </div>
                            <div class="col d-flex">
                                <i class="bi bi-clock mx-1"></i>
                                <p class="" style="font-size: medium;">Tue 10:00 am - 11:45am</p>
                            </div>
                                <div class="row">
                                    <div class="col">
                                        <h5><span class="badge rounded-pill bg-success shadow">Machine Learning</span></h5>
                                    </div>
                                    <div class="col">
                                        <h5><span class="badge rounded-pill bg-success shadow">Programming</span></h5>
                                    </div>
                                    <div class="col">
                                        <h5><span class="badge rounded-pill bg-success shadow">AI</span></h5>
                                    </div>
                                </div>
                            <hr>
                            <a href="#" class="stretched-link" style="text-decoration: none;">12 students registered</a>
                        </div>
                    </div>
                </div>
                <!-- event rec 3 -->

                <!-- event rec 4 -->
                <div class="carousel-item">
                    <div class="card position-relative shadow" style="width: 18rem; height: fit-content; border-radius: 10%;">
                        <div class="card-body">
                            <h6 class="card-title">Competitive Programming</h6>
                            <h4 class="card-subtitle mb-2 text-muted">ICPC Intro Session</h4>
                            <div class="col d-flex">
                                <i class="bi bi-person mx-2"></i>
                                <p class="">In-Person</p>
                            </div>
                            <div class="col d-flex">
                                <i class="bi bi-clock mx-1"></i>
                                <p class="" style="font-size: medium;">Tue 10:00 am - 11:45am</p>
                            </div>
                                <div class="row">
                                    <div class="col">
                                        <h5><span class="badge rounded-pill bg-success shadow">Machine Learning</span></h5>
                                    </div>
                                    <div class="col">
                                        <h5><span class="badge rounded-pill bg-success shadow">Programming</span></h5>
                                    </div>
                                    <div class="col">
                                        <h5><span class="badge rounded-pill bg-success shadow">AI</span></h5>
                                    </div>
                                </div>
                            <hr>
                            <a href="#" class="stretched-link" style="text-decoration: none;">12 students registered</a>
                        </div>
                    </div>
                </div>
                <!-- event rec 4 -->

                <!-- event rec 5 -->
                <div class="carousel-item">
                    <div class="card position-relative shadow" style="width: 18rem; height: fit-content; border-radius: 10%;">
                        <div class="card-body">
                            <h6 class="card-title">Competitive Programming</h6>
                            <h4 class="card-subtitle mb-2 text-muted">ICPC Intro Session</h4>
                            <div class="col d-flex">
                                <i class="bi bi-person mx-2"></i>
                                <p class="">In-Person</p>
                            </div>
                            <div class="col d-flex">
                                <i class="bi bi-clock mx-1"></i>
                                <p class="" style="font-size: medium;">Tue 10:00 am - 11:45am</p>
                            </div>
                                <div class="row">
                                    <div class="col">
                                        <h5><span class="badge rounded-pill bg-success shadow">Machine Learning</span></h5>
                                    </div>
                                    <div class="col">
                                        <h5><span class="badge rounded-pill bg-success shadow">Programming</span></h5>
                                    </div>
                                    <div class="col">
                                        <h5><span class="badge rounded-pill bg-success shadow">AI</span></h5>
                                    </div>
                                </div>
                            <hr>
                            <a href="#" class="stretched-link" style="text-decoration: none;">12 students registered</a>
                        </div>
                    </div>
                </div>
                <!-- event rec 5 -->

                <!-- dynamically add event recommendations -->

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#eventRecs" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#eventRecs" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-- CLUB RECOMMENDATIONS -->
        

    </div>
</div>

<br>

{% endblock %}