{% extends 'homebase.html' %}
{% block content %}

<div class="purple-bg">
    <!-- white overlay for content -->
    <div class="row justify-content-center" style="padding-top: 1rem">
        <div class="col-md-7">
            <div class="card " style="border-radius: 37px;">
                <div class="card-header text-center"><h3 style="margin: auto;">Welcome to the admin dashboard</h3></div>
                <hr>
                <!-- col/card begins -->
                    <div class="container">
                        <div class="row justify-content-center">
                            
                            <div class="col-md-5">
                                <a href="{% url 'editClub' club_id=admin_id %}" style="text-decoration: none;">
                                    <div class="pill-bubble shadow" style="border-radius: 25px;">
                                        <h5 class="text-center my-3">Edit Club</h5>
                                    <div>
                                        <img src="https://media.istockphoto.com/id/1260329688/vector/tiny-characters-with-magnifying-glass-and-red-pencil-editing-mistakes-in-paper-test-teacher.jpg?s=612x612&w=0&k=20&c=hD627fBQS69q7boTDDA7mivHitizPUZhhZFxUUuJhiA=" alt="" style="max-width: 80%; height: 20rem;">
                                    </div>
                                    
                                </div>
                                </a>
                            </div>
<!-- https://img.freepik.com/free-vector/colleagues-preparing-corporate-party-time-management-deadline-brand-event_335657-3083.jpg?t=st=1714946011~exp=1714946611~hmac=b4b7acb21c146039a8381cc9ac5e2f6dc61254dd84c3225538a8d0b1abf5eb63 -->
                            <div class="col-md-5">
                                <div class="pill-bubble shadow" style="border-radius: 25px;">
                                    {% for club in clubs %}
                                    <a href="{% url 'adminDashClub' club.name %}" style="text-decoration: none;">
                                        <h5 class="text-center my-3">Edit {{club.name}} Events</h5>
                                        <div class="text-center">
                                            <img src="https://img.freepik.com/free-vector/colleagues-preparing-corporate-party-time-management-deadline-brand-event_335657-3083.jpg?t=st=1714946011~exp=1714946611~hmac=b4b7acb21c146039a8381cc9ac5e2f6dc61254dd84c3225538a8d0b1abf5eb63"
                                                alt="" style="max-width: 80%; height: 20rem;">
                                        </div>
                                    </a>
                                        {% endfor %}
                                    </div>

                            </div>
                        </div>
                    </div>
                <div class="card-body"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}